.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.map-container {
  height: 500px;
  width: 50%;
  border: 2px solid black;
  border-radius: 20px;
}

#right {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 50%;
  width: 50%;
  overflow-y: scroll;
}
#right {
  background-color: #fff;
  height:100%;
}

/* .scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  scrollbar-width: none;
} */

.address {
  border-right: 4px;
  margin: 10px;
  padding: 10px 5px 0 10px;
}

div.address:hover {
  background-color: #eee;
}

div.active {
  border-style: none solid none none;
  border-right-color: #000;
}

.custom-marker {
  transition: all 200ms ease-in-out;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
